*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

a {
    color: white; !important;/* blue colors for links too */
    text-decoration: none !important; /* no underline */
}

a:hover {
    color: white;
}

.container-fluid {
    background-color: #D0C59A;

}

#headerStyler {
    width: 100%;
    height: 110%;
    background-color: #417154;
    color: white;
}

.customButton {
    background-color: #D0C59A;
    color: black;
    width: 100%;
}

#siteOverskrift {
    margin: auto;
    text-align: center;
    color: white;

}